/*Import Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*Remove default style set by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*general style for the project*/
    font-family: 'Poppins', sans-serif;
    color: #4d0000;
}

header {
    background-color: #ff5c4d;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #4d0000;

}

h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    letter-spacing: 1px;

}

header a {
    text-decoration: none;
    color: inherit;
}
#slogan {
    background: url(../assets/images/slogan-background-1.jpg) no-repeat center center/cover;
    text-shadow: 2px 2px white;
}

main {
    background-color: #ffcd58;
    /*Making the main part of the page take up the surplus space in roder to push footer down*/
    flex: 1 0 auto;
}

/*Styling the nav bar*/

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}
.laboratory {
    border-bottom: 2px solid #4d0000;
}