/*Import Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

/*Remove default style set by the browser*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /*general style for the project*/
    font-family: 'Poppins', sans-serif;
    color: #4d0000;
}

header {
    background-color:#b8b8b5;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #4d0000;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

h1 {
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 20px;

}

header a {
    text-decoration: none;
    color: inherit;
}
#slogan {
    background: url(../assets/images/slogan-background-1.jpg) no-repeat center center/cover;
    text-shadow: 2px 2px white;
    
}

/*Styling the nav bar*/

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#menu > li {
    margin-bottom: 1em;
}
.laboratory {
    border-bottom: 2px solid #4d0000;
}

/*Styling navigation bar*/
nav {
    position: absolute;
    background-color: #b8b8b5;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #4d0000;
    display: none;
    top:100%;
}

/*Nav Icon*/
#nav-icon:checked~nav {
    display: block;
}

#nav-icon {
    display: none;
}

.nav-icon-label {
    font-size: 2rem;
}

main {
    background-color: #ffcd58;
    /*Making the main part of the page take up the surplus space in roder to push footer down*/
    flex: 1 0 auto;
    margin-top: 100px;
}

/*Using media query for larger devices*/
@media screen and (min-width: 780px) {
    /*Header*/
    nav {
        display: block;
        position: relative;
        box-shadow: none; /*hide box shadow as no loger needed*/
        width: fit-content; 
        padding-right: 1rem; /*the menu items won't stick to the edge of the screen*/
    }
    #menu {
        display: flex;  
    }

    #menu > li { 
        padding-left: 1rem; /*add space between the menu items*/
    }

    .nav-icon-label {
        display: none; /*hide the nav icon as no longer needed*/
    }
}